<div class="rounded-lg hover:bg-gray-50 p-8 shadow">
  <a href="{{include.publication.url | relative_url}}">
    <img src="{{include.publication.image | relative_url}}" alt="image" class="object-cover w-full h-60" />
    <p class="font-mulish text-gray-500 mt-6 mb-2 ">{{include.publication.category | upcase}}</p>
    <h2 class="text-2xl hover:underline font-bold my-2 text-gray-800">{{include.publication.title}}</h2>
    <div class="font-mulish">
      {{include.publication.excerpt}}
    </div>
  </a>
</div>
