---
layout: default
---
<section class="container mx-auto pt-20 pb-10 lg:pt-[120px] lg:pb-20">
  <div class="flex flex-col gap-y-8">
    {% if site.softwares.size > 0 %}
      {% for software in site.softwares %}
        {% include software_card.html software=software %}
      {% endfor %}
    {% else %}
      <p class="text-center text-gray-500"> Welcome to Code Corner—
    The future showcase of my coding projects! 
    (Or, you know, it will be… right after I refactor, comment, and make my code look less like it was written minutes before a deadline.)
    Right now, this page is as empty as a `pass` statement. </p>
    {% endif %}
  </div>
</section>
